.icon {
    height: 4rem;
    width: auto;
}

.portfolio-picture {
    border-radius: 50%;
    height: 17rem;
    width: auto;
}

.nav-style {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}